nav > ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

nav > ul > li:hover{
    transition: ease-in-out .5s;
    transform: scale(1.5em);
}

li > a{
    text-decoration: none;
    color: white;
}

nav > div{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: rgb(40, 40, 245);
    display: flex;
    justify-content: space-between;
}