body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* NavBar */
nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background: #396CA4;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 3.5em;
    padding: .5em;
}
#inicio{
    text-decoration: none;
    color: white;
}
nav > div{
    display: flex;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}
nav > ul{
    align-items: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
nav > ul > li:hover{
    transition: ease-in-out .5s;
    transform: scale(1.5em);
}
li > a{
    text-decoration: none;
    color: white;
}

/* Promociones */
#promociones{
    padding-top: 5.8em;
}
#cont-promociones{
    margin: 2em auto;
    text-align: center;
    justify-content: space-evenly;
    padding-inline: 2%;
    display: flex;
}
#card-promociones{
    border-radius: 1em;
    width: 15%;
    background: #396CA4;
    padding: 1.5em;
    color: white;
}
#info-internet{
    padding: 5px;
    background-color: white;
    border-radius: .3em;
    color: #396CA4;
}
#info-cable{
    margin-top: 1em;
    padding: 5px;
    background-color: white;
    border-radius: .3em;
    color: #396CA4;
}

#precio{
    font-size: 2em;
}
#periodo{
    background: white;
    color: #396CA4;
    font-size: 12px;
    border-radius: .5em;
    padding: 5px;
    width: 60px;
    margin: auto;
}

#card-promociones > button{
    width: 140px;
    padding: .8em 1em;
    border-radius: 2em;
    background: white;
    border: none;
    color: #396CA4;
    cursor: pointer;
    transition: ease .3s;
}
#card-promociones > button:hover{
    transition: ease .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.301);
}

/* Beneficios */
#cont-beneficios{
    margin: 2em auto;
    text-align: center;
    justify-content: space-evenly;
    padding-inline: 7.5%;
    display: flex;
}
#card-beneficios{
    border-radius: 1em;
    width: 22%;
    background: #396CA4;
    padding: 2em;
    color: white;
}
#card-beneficios > img{
    width: 150px;
}

/* Metodos de Pago */
#pagos{
    display: flex;
    width: 75%;
    margin: 2em auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em;
    border-radius: 2em;
    background: #6d6d6d23;
}
#pagos > img{
    width: 100px;
}

/* Pie de Pagina */
footer{
    background: #2828f5;
    color: white;
    padding: 2em 9em;
    display: flex;
}
#logo-foot{
    width: 120px;
}
#terminos{
    display: flex;
}
#columnas{
    padding-inline: 1.5em;
    border-left: 1px solid white;
}
#columnas > h3, #columnas > p{
    font-weight: 100;
}
