nav > ul{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

li>a{
    text-decoration: none;
    color: white;
}

nav > span{
    font-size: 1.2em;
    text-align: center;
    margin: 2em;
}

nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background: rgb(40, 40, 245);
    text-align: center;
    display: flex;
    justify-content: space-between;
}