<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/Index.css">
    <title>Cable</title>
</head>
<body>
    <nav>
        <div>
            <img id="logo" src="/Resources/Images/log.jpg" style="width: 80px; padding: .5em;">
            <a id="inicio" href="/Index.html">TELEINCA S.A.C.</a>
        </div>
        <ul>
            <li><a href="#">Cable</a></li>
            <li><a href="#about">Internet</a></li>
            <li><a href="#contact">Registrarse</a></li>
        </ul>
    </nav>
    <div style="height: 50em;">
        
    </div>
</body>
<footer>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit earum ipsa, ab praesentium quo officiis molestiae aperiam natus? Tenetur aliquam, nobis quia necessitatibus illum minima architecto adipisci amet quis repellat voluptate voluptatum aperiam velit est ut quas sit aut doloribus itaque debitis tempora eveniet libero. Soluta voluptatum officiis consectetur perferendis?</p>
</footer>
</html>