<footer class="text-white py-4 bg-success">
    <div class="container">
        <div class="row align-items-center text-left">
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <img src="/Resources/Images/logo.png" alt="Logo de la Empresa" class="img-fluid" style="align-items: start;">
                <p style="margin-top: 5em; font-size: 14px;" class="fw-light">TELEINCA S.A.C. <br> RUC xxxxxxxxxx</p>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <h5>Legales</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none py-1">Terminos y Condiciones</a></li><br>
                    <li><a href="#" class="text-white text-decoration-none py-1">Reclamos y Solicitudes en Linea</a></li><br>
                    <li><a href="#" class="text-white text-decoration-none py-1">Libro de Reclamaciones</a></li><br>
                    <li class="me-3 fw-light"><span class="fw-bold">Contacto:</span><br><p>contacto@teleinca.pe</p></li>
                    <li class="me-3"><a style="text-decoration: none; color: green; background: white; padding: .3em 1em; border-radius: 1em;" href="#"><i class="bi bi-telephone"></i> Ventas: 0800 - 71969</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <h5>Condiciones de uso</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none py-1">Informacion a Abonados y Usuarios</a></li><br>
                    <li><a href="#" class="text-white text-decoration-none py-1">Preguntas Frecuentes</a></li><br>
                    <li><a href="#" class="text-white text-decoration-none py-1">Privacidad de Datos</a></li><br>
                    <li><a href="#" class="text-white text-decoration-none py-1">Promociones</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <h6>Direccion</h6>
                <ul class="list-unstyled">
                    <li class="me-3 fw-light">Centro de Experiencia Huanuco: Jiron 28 de Julio N° xxxx</li><br>
                    <li class="me-3 fw-light">Horario: De lunes a sábado de 8:30 a. m. a 6:30 p. m.</li><br>
                    <li class="me-3 fw-bold">Telefono:</li>
                    <li class="me-3 fw-light">Atencion al Cliente:<br> +51 xxx xxx xxx</li>
                </ul>
            </div>
            <div class="col-12">
            </div>
        </div>
    </div>
</footer>