<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Css/Index.css">
    <link rel="shortcut icon" href="/frontend/Resources/Images/logo.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>TELEINCA | Centros de Experiencia</title>
    <style>
        /* Estilos personalizados para el mapa */
        #map {
            width: 100%;
            height: 100%;
        }
        /* Estilo del panel */
        #panel {
            background-color: #f4f4f4;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
    <div id="contNav"></div>
    <div class="my-5 d-flex justify-content-around">
        <div class="align-content-center">
            <h3>Centros de Experiencia</h3>
            <p>Conoce todos nuestros centros de Experiancia</p>
        </div>
        <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGD6cBxw-CcN_Qtev3_bf-pexmxcGLqARSWg&s" width="50%">
    </div>
    <div class="p-5 bg-secondary text-white">
        <h3 class="pb-4 display-6">Visita nuestro centro de experiencia en Huanuco</h3>
        <div class="d-flex justify-content-evenly">
            <div class="d-flex w-25 align-items-center">
                <i class="bi bi-geo-alt-fill px-2" style="font-size: 5em;"></i>
                <p>Centro de Experiencia Huanuco: Jr. Abtao N° 1719 Urb. Paucarbambabilla Huanuco-Huanuco-Huanuco</p>
            </div>
            <div class="d-flex w-25 align-items-center">
                <i class="bi bi-headset px-2" style="font-size: 5em;"></i>
                <p>Atencion al cliente<br>+51 962 624 690</p>
            </div>
            <div class="d-flex w-25 align-items-center">
                <i class="bi bi-whatsapp px-2" style="font-size: 4em;"></i>
                <p>Ventas<br>+51 962 624 690</p>
            </div>
        </div>
    </div>
</body>
<script src="/frontend/Resources/Js/Scripts.js"></script>
<script src="/frontend/Resources/Js/Elements.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> 
</html>