<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Css/panelPago.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <title>Panel de Usuario</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-content">
                <div>
                    <h1>Panel de pago </h1>
                    <h1>Escoge el metodo de pago:</h1>
                </div>
            </div>
        </div>  
    </div>
    <div class="container-pago">
        <div class="container-pago-yape">
            <div class="pago-content">
                <h2>Pago con yape:</h2>
                <div class="img-pago">
                    <img src="/frontend/Resources/Images/pagos_icon/yape_qr.jpg" alt="yape">
                </div>
                <h2>Realize el pago a nuestro codigo QR, luego ingrese el numero de transaccion y procese el pago</h2>
                <div class="input_container">
                    <svg fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#141B34" d="M7 8.5L9.94202 10.2394C11.6572 11.2535 12.3428 11.2535 14.058 10.2394L17 8.5"></path>
                    <path stroke-linejoin="round" stroke-width="1.5" stroke="#141B34" d="M2.01577 13.4756C2.08114 16.5412 2.11383 18.0739 3.24496 19.2094C4.37608 20.3448 5.95033 20.3843 9.09883 20.4634C11.0393 20.5122 12.9607 20.5122 14.9012 20.4634C18.0497 20.3843 19.6239 20.3448 20.7551 19.2094C21.8862 18.0739 21.9189 16.5412 21.9842 13.4756C22.0053 12.4899 22.0053 11.5101 21.9842 10.5244C21.9189 7.45886 21.8862 5.92609 20.7551 4.79066C19.6239 3.65523 18.0497 3.61568 14.9012 3.53657C12.9607 3.48781 11.0393 3.48781 9.09882 3.53656C5.95033 3.61566 4.37608 3.65521 3.24495 4.79065C2.11382 5.92608 2.08114 7.45885 2.01576 10.5244C1.99474 11.5101 1.99475 12.4899 2.01577 13.4756Z"></path>
                    </svg>
                    <input placeholder="Numero de transaccion" name="nmr_process" type="text" class="input_field" id="nmr_process_yape" required>
                </div>
                <div class="button_slide slide_right" id="procesarPagoYape" onclick="procesarPagoYape()">PROCESAR PAGO </div>
            </div>
        </div>
        <div class="container-pago-bbva">
            <div class="pago-content">
                <h2>Pago con deposito a BBVA:</h2>
                <div class="img-pago">
                    <img src="/frontend/Resources/Images/pagos_icon/BBVA.jpg" alt="BBVA">
                </div>
                <h2>Realize el pago a nuestro numero de cuenta, luego ingrese el numero de transaccion y procese el pago</h2>
                <div class="input_container">
                    <svg fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#141B34" d="M7 8.5L9.94202 10.2394C11.6572 11.2535 12.3428 11.2535 14.058 10.2394L17 8.5"></path>
                    <path stroke-linejoin="round" stroke-width="1.5" stroke="#141B34" d="M2.01577 13.4756C2.08114 16.5412 2.11383 18.0739 3.24496 19.2094C4.37608 20.3448 5.95033 20.3843 9.09883 20.4634C11.0393 20.5122 12.9607 20.5122 14.9012 20.4634C18.0497 20.3843 19.6239 20.3448 20.7551 19.2094C21.8862 18.0739 21.9189 16.5412 21.9842 13.4756C22.0053 12.4899 22.0053 11.5101 21.9842 10.5244C21.9189 7.45886 21.8862 5.92609 20.7551 4.79066C19.6239 3.65523 18.0497 3.61568 14.9012 3.53657C12.9607 3.48781 11.0393 3.48781 9.09882 3.53656C5.95033 3.61566 4.37608 3.65521 3.24495 4.79065C2.11382 5.92608 2.08114 7.45885 2.01576 10.5244C1.99474 11.5101 1.99475 12.4899 2.01577 13.4756Z"></path>
                    </svg>
                    <input placeholder="Numero de transaccion" name="nmr_process" type="text" class="input_field" id="nmr_process_bbva" required>
                </div>
                <div class="button_slide slide_right" id="procesarPagoBbva" onclick="procesarPagoBbva()">PROCESAR PAGO </div>
            </div>
        </div>
        <div class="container-pago-bcp">
            <div class="pago-content">
                <h2>Pago con deposito a BCP:</h2>
                <div class="img-pago">
                    <img src="/frontend/Resources/Images/pagos_icon/bcp.png" alt="BCP">
                </div>
                <h2>Realize el pago a nuestro numero de cuenta, luego ingrese el numero de transaccion y procese el pago</h2>
                <div class="input_container" >
                    <svg fill="none" viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" class="icon">
                    <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#141B34" d="M7 8.5L9.94202 10.2394C11.6572 11.2535 12.3428 11.2535 14.058 10.2394L17 8.5"></path>
                    <path stroke-linejoin="round" stroke-width="1.5" stroke="#141B34" d="M2.01577 13.4756C2.08114 16.5412 2.11383 18.0739 3.24496 19.2094C4.37608 20.3448 5.95033 20.3843 9.09883 20.4634C11.0393 20.5122 12.9607 20.5122 14.9012 20.4634C18.0497 20.3843 19.6239 20.3448 20.7551 19.2094C21.8862 18.0739 21.9189 16.5412 21.9842 13.4756C22.0053 12.4899 22.0053 11.5101 21.9842 10.5244C21.9189 7.45886 21.8862 5.92609 20.7551 4.79066C19.6239 3.65523 18.0497 3.61568 14.9012 3.53657C12.9607 3.48781 11.0393 3.48781 9.09882 3.53656C5.95033 3.61566 4.37608 3.65521 3.24495 4.79065C2.11382 5.92608 2.08114 7.45885 2.01576 10.5244C1.99474 11.5101 1.99475 12.4899 2.01577 13.4756Z"></path>
                    </svg>
                    <input placeholder="Numero de transaccion" name="nmr_process" type="text" class="input_field" id="nmr_process_bcp" required>
                </div>
                <div class="button_slide slide_right" id="procesarPagoBcp" onclick="procesarPagoBcp()">PROCESAR PAGO </div>
            </div>
        </div>
    </div>
    <div class="container"></div>
        <div class="header">
            <div class="header-content">
                <div>
                    <h1>Una vez procesado el pago, espere su boleta/factura electronica por WhatsApp y en las proximas horas su deuda ya no se mostrara en sus recibos pendientes</h1>
                </div>
                <a href="/frontend/Views/panelUser.html" class="btn-cerrar-sesion">Volver</a>
            </div>
        </div>  
    </div>
        
    <script>
        
        const codigoRecibo = localStorage.getItem('codigoRecibo');
        if (codigoRecibo) {
            console.log("Código del recibo: ", codigoRecibo);
        } else {
            console.log("No se encontró el código del recibo en localStorage");
        }
        document.addEventListener('DOMContentLoaded', () => {
        // Recuperar el código de usuario desde sessionStorage
        const codigoUsuario = sessionStorage.getItem('codigoUsuario');

        if (codigoUsuario) {
            // Mostrar el código en un elemento HTML con id 'codigoUsuario'
            const codigoUsuarioElemento = document.getElementById('codigoUsuario');
            if (codigoUsuarioElemento) {
                codigoUsuarioElemento.textContent = codigoUsuario;
            }
            console.log("Código del usuario: ", codigoUsuario);
        } else {
            console.log("No se encontró el código de usuario.");
                }
        });
        function procesarPagoYape() {
            const codigoUsuario = sessionStorage.getItem('codigoUsuario');
            const nmr_process = document.getElementById('nmr_process_yape').value;
            if (nmr_process === '') {
            // Si está vacío, mostrar un mensaje de alerta
                alert('Por favor, ingresa el número de transacción.');
            } else {
                console.log("Numero de transaccion: ", nmr_process);
                console.log("Procesando pago con Yape");
                const text = `
                *SOLICITUD DE PAGO*
                Numero de deuda:${codigoRecibo}
                Codigo de abonado: ${codigoUsuario}
                Numero de Operacion DE YAPE: ${nmr_process}
                Quedo pendiente al recibo electronico, Gracias!
                `;
                const mensaje = encodeURIComponent(text);
                const numeroWhatsApp = '+51903075166';
            const urlWhatsApp = `https://wa.me/${numeroWhatsApp}?text=${mensaje}`;
            window.open(urlWhatsApp, '_blank');
            }
        }
        function procesarPagoBbva() {
            const codigoUsuario = sessionStorage.getItem('codigoUsuario');
            const nmr_process = document.getElementById('nmr_process_bbva').value;
            if (nmr_process === '') {
            // Si está vacío, mostrar un mensaje de alerta
                alert('Por favor, ingresa el número de transacción.');
            } else {
                console.log("Numero de transaccion: ", nmr_process);
                console.log("Procesando pago con BBVA");
                const text = `
                *SOLICITUD DE PAGO*
                Numero de deuda:${codigoRecibo}
                Codigo de abonado: ${codigoUsuario}
                Numero de Transferencia DE BBVA: ${nmr_process}
                Quedo pendiente al recibo electronico, Gracias!
                `;
                const mensaje = encodeURIComponent(text);
                const numeroWhatsApp = '+51903075166';
                const urlWhatsApp = `https://wa.me/${numeroWhatsApp}?text=${mensaje}`;
                window.open(urlWhatsApp, '_blank');
            }
        }
        function procesarPagoBcp() {
            const codigoUsuario = sessionStorage.getItem('codigoUsuario');
            const nmr_process = document.getElementById('nmr_process_bcp').value;
            if (nmr_process === '') {
            // Si está vacío, mostrar un mensaje de alerta
                alert('Por favor, ingresa el número de transacción.');
            } else {
                console.log("Numero de transaccion: ", nmr_process);
                console.log("Procesando pago con BCP");
                const text = `
                *SOLICITUD DE PAGO*
                Numero de deuda:${codigoRecibo}
                Codigo de abonado: ${codigoUsuario}
                Numero de Transferencia DE BCP: ${nmr_process}
                Quedo pendiente al recibo electronico, Gracias!
                `;
                const mensaje = encodeURIComponent(text);
                const numeroWhatsApp = '+51903075166';
                const urlWhatsApp = `https://wa.me/${numeroWhatsApp}?text=${mensaje}`;
                window.open(urlWhatsApp, '_blank');
            }
        }
        
    </script>
</body>
</html>

    