<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/frontend/Css/Internet.css">
    <link rel="stylesheet" href="/frontend/Css/panelUser.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <title>Panel de Usuario</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-content">
                <div>
                    <h1>Panel de pago </h1>
                    <h1>Escoge el metodo de pago:</h1>
                </div>
                <a href="/frontend/Views/panelUser.html" class="btn-cerrar-sesion">Volver</a>
            </div>
        </div>  
        <div class="container services-container">
            <div class="row justify-content-center align-items-stretch g-4">
                <!-- yape -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="service-card h-100">
                        <div class="card-body">
                            <div class="card-body-imagen">
                                <img src="/frontend/Resources/Images/internet_icon/ftth_icon.jpg" alt="Fibra óptica FTTH">
                            </div>
                            <h3 class="service-title">Internet FttH</h3>
                            <p class="service-text">
                                La tecnología FttH (Fiber to the Home) ofrece conexión a Internet mediante fibra óptica directamente hasta tu hogar. 
                                Disfruta de velocidades simétricas ultrarrápidas, baja latencia y máxima estabilidad en tu conexión. 
                                Ideal para streaming, gaming y trabajo remoto.
                            </p>
                        </div>
                    </div>
                </div>
    
                <!-- bbva -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="service-card h-100">
                        <div class="card-body">
                            <div class="card-body-imagen">
                                <img src="/frontend/Resources/Images/internet_icon/eoc_icon.jpg" alt="Fibra óptica FTTH">
                            </div>
                            <h3 class="service-title">Internet EOC</h3>
                            <p class="service-text">
                                EOC (Ethernet Over Coax) aprovecha la infraestructura de cable coaxial existente para brindar Internet de alta velocidad.
                                Ofrece una conexión estable y confiable, perfecta para hogares y pequeños negocios.
                                Combina la facilidad de instalación con un rendimiento consistente.
                            </p>
                            
                        </div>
                    </div>
                </div>
    
                <!-- bcp -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="service-card h-100">
                        <div class="card-body">
                            <div class="card-body-imagen">
                                <img src="/frontend/Resources/Images/internet_icon/antena_icon.jpg" alt="Fibra óptica FTTH">
                            </div>
                            <h3 class="service-title">Internet por Antena</h3>
                            <p class="service-text">
                                El Internet por antena es la solución perfecta para áreas donde otras tecnologías no están disponibles.
                                Mediante transmisión inalámbrica, llevamos conectividad a zonas rurales y suburbanas.
                                Servicio confiable sin necesidad de infraestructura terrestre extensa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
